    * {
        margin: 0;
        padding: 0;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }
    
    .header {
        padding: 20px 30px;
        background-color: rgb(2, 39, 71);
        display: flex;
        justify-content: space-around;
    }
    
    .header:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .header h2 {
        color: white;
        font-size: 40px;
        text-align: center;
    }
    
    .header input[type=text] {
        padding: 0 100px;
        text-align: center;
        box-shadow: inset 0px 0px 19px 3px gray;
        outline: none;
        font-size: 30px;
        border-radius: 10px;
        text-transform: capitalize;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    
    .header button {
        outline: none;
        border: none;
        padding: 14px 16px;
        background-color: darkgray;
        text-align: center;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        width: 20%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    
    .header button:hover {
        background-color: gray;
    }
    
    .close {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        cursor: pointer;
        padding: 20px 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .close:hover {
        background: #0a0100;
        color: rgb(143, 8, 8);
    }
    
    ul {
        padding: 0;
        margin: 0;
        background-color: burlywood;
    }
    
    ul li {
        position: relative;
        padding: 20px 30px;
        text-align: center;
        font-size: 25px;
        color: white;
        display: flex;
        text-transform: capitalize;
    }
    
    ul li:nth-child(even) {
        background-color: rgb(87, 155, 167);
    }
    
    ul li.checked {
        background-color: #888;
        color: #fff;
        text-decoration: line-through;
    }
    
    ul li.checked::before {
        content: "";
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 20px;
        left: 20px;
        width: 7px;
        height: 15px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }